
body {
  font-family: Arial, serif;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  font-size: 48px;
}

p {
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}

button {
  margin-top: 40px;
}

.page-header {
  background-color: #7FFFD4;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
}
